[submodule "vendor/wav-file-encoder"]
	path = vendor/wav-file-encoder
	url = https://github.com/chdh/wav-file-encoder
[submodule "vendor/demucs"]
	path = vendor/demucs
	url = https://github.com/sevagh/demucs
	branch = release_v4
