/build/
/build-wasm/
/build-cpp/
*.bin
*.bin.gz
*.wav
!/test/data/*.wav
!/test/*.wav
*.json
!/package*.json
!/web/assets/models/*.bin
web/_site
.sass-cache/
!/web/assets/clips/*.wav
*.pyc
__pycache__
wrangler.toml
node_modules
.wrangler
