{% if site.cf_pages_branch == 'main' %}
{% if site.google_analytics %}
<!-- Google tag (gtag.js) -->
<script async src="https://www.googletagmanager.com/gtag/js?id={{ site.google_analytics }}"></script>
<script>
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', '{{ site.google_analytics }}');
</script>
{% endif %}
<!-- Rudderstack Product analytics -->
<script type="text/javascript">
    !function(){"use strict";window.RudderSnippetVersion="3.0.6";var sdkBaseUrl="https://cdn.rudderlabs.com/v3"
    ;var sdkName="rsa.min.js";var asyncScript=true;window.rudderAnalyticsBuildType="legacy",window.rudderanalytics=[]
    ;var e=["setDefaultInstanceKey","load","ready","page","track","identify","alias","group","reset","setAnonymousId","startSession","endSession","consent"]
    ;for(var n=0;n<e.length;n++){var t=e[n];window.rudderanalytics[t]=function(e){return function(){
    window.rudderanalytics.push([e].concat(Array.prototype.slice.call(arguments)))}}(t)}try{
    new Function('return import("")'),window.rudderAnalyticsBuildType="modern"}catch(a){}
    if(window.rudderAnalyticsMount=function(){
    "undefined"==typeof globalThis&&(Object.defineProperty(Object.prototype,"__globalThis_magic__",{get:function get(){
    return this},configurable:true}),__globalThis_magic__.globalThis=__globalThis_magic__,
    delete Object.prototype.__globalThis_magic__);var e=document.createElement("script")
    ;e.src="".concat(sdkBaseUrl,"/").concat(window.rudderAnalyticsBuildType,"/").concat(sdkName),e.async=asyncScript,
    document.head?document.head.appendChild(e):document.body.appendChild(e)
    },"undefined"==typeof Promise||"undefined"==typeof globalThis){var d=document.createElement("script")
    ;d.src="https://polyfill-fastly.io/v3/polyfill.min.js?version=3.111.0&features=Symbol%2CPromise&callback=rudderAnalyticsMount",
    d.async=asyncScript,document.head?document.head.appendChild(d):document.body.appendChild(d)}else{
    window.rudderAnalyticsMount()}window.rudderanalytics.load("2iF0fiWSfxtR4pKtosQXEW5nOIV","https://freemusicdkuqd.dataplane.rudderstack.com",{})}();

    // Helper function to track events
    function trackProductEvent(eventName, eventData = {}) {
      if (window.rudderanalytics && typeof window.rudderanalytics.track === 'function') {
        console.log('Tracking event:', eventName, eventData)
        window.rudderanalytics.track(eventName, eventData);
      } else {
        console.warn('Rudderstack analytics is not initialized');
      }
    }
</script>
<!-- Komito Analytics -->
<script src="https://komito.net/komito.js" async></script>
<script>
  var _komito = _komito || {
    'trackTwitter': 1,
    'trackFacebook': 1,
    'trackLinkedIn': 1,
    'trackDownloads': 1,
    'trackOutbound': 1,
    'trackForms': 1,
    'trackUsers': 1,
    'trackActions': 1,
    'trackPrint': 1,
    'trackOrientation': 1,
    'trackColorScheme': 1,
    'trackAdblock': 0,
    'trackErrorPages': 0,
    'sendHeartbeat': 0,
    'debugMode': 0,
    'trackScroll': [25, 50, 75, 100],
    'trackMedia': ['html5', 'vimeo', 'youtube'],
    'nonInteraction': ['adblock', 'audio', 'color-scheme', 'form', 'heartbeat', 'orientation', 'print', 'scroll', 'video']
  };
</script>
{% else %}
<!-- DISABLED Google Analytics -->
<!-- DISABLED Rudderstack Product analytics-->
<script type="text/javascript">
    // No-op helper function to track events
    function trackProductEvent(eventName, eventData = {}) {
      console.log('[DEV MODE] Logging tracking event:', eventName, eventData)
    }
</script>
<!-- DISABLED Komito Analytics -->
{% endif %}
