<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Product analytics -->
<script type="text/javascript">
    !function(){"use strict";window.RudderSnippetVersion="3.0.6";var sdkBaseUrl="https://cdn.rudderlabs.com/v3"
    ;var sdkName="rsa.min.js";var asyncScript=true;window.rudderAnalyticsBuildType="legacy",window.rudderanalytics=[]
    ;var e=["setDefaultInstanceKey","load","ready","page","track","identify","alias","group","reset","setAnonymousId","startSession","endSession","consent"]
    ;for(var n=0;n<e.length;n++){var t=e[n];window.rudderanalytics[t]=function(e){return function(){
    window.rudderanalytics.push([e].concat(Array.prototype.slice.call(arguments)))}}(t)}try{
    new Function('return import("")'),window.rudderAnalyticsBuildType="modern"}catch(a){}
    if(window.rudderAnalyticsMount=function(){
    "undefined"==typeof globalThis&&(Object.defineProperty(Object.prototype,"__globalThis_magic__",{get:function get(){
    return this},configurable:true}),__globalThis_magic__.globalThis=__globalThis_magic__,
    delete Object.prototype.__globalThis_magic__);var e=document.createElement("script")
    ;e.src="".concat(sdkBaseUrl,"/").concat(window.rudderAnalyticsBuildType,"/").concat(sdkName),e.async=asyncScript,
    document.head?document.head.appendChild(e):document.body.appendChild(e)
    },"undefined"==typeof Promise||"undefined"==typeof globalThis){var d=document.createElement("script")
    ;d.src="https://polyfill-fastly.io/v3/polyfill.min.js?version=3.111.0&features=Symbol%2CPromise&callback=rudderAnalyticsMount",
    d.async=asyncScript,document.head?document.head.appendChild(d):document.body.appendChild(d)}else{
    window.rudderAnalyticsMount()}window.rudderanalytics.load("2iF0fiWSfxtR4pKtosQXEW5nOIV","https://freemusicdkuqd.dataplane.rudderstack.com",{})}();

    // Helper function to track events
    function trackProductEvent(eventName, eventData = {}) {
      if (window.rudderanalytics && typeof window.rudderanalytics.track === 'function') {
        console.log('Tracking event:', eventName, eventData)
        window.rudderanalytics.track(eventName, eventData);
      } else {
        console.warn('Rudderstack analytics is not initialized');
      }
    }
</script>

<!-- "{{ site.cf_pages_branch }}" -->
{% if site.google_analytics %}
<!-- Setup Google Analytics -->
{% include head-custom-analytics.html %}
{% endif %}

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% else if site.keywords %}
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">
{% endif %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/favicon.ico' | relative_url }}"/>

<!-- end custom head snippets -->
