<!-- start custom head snippets, customize with your own _includes/head-custom.html file -->

<!-- Analytics built for {{ site.cf_pages_branch }} -->
{% include head-custom-analytics.html %}

{% if page.keywords %}
<meta name="keywords" content="{{ page.keywords }}">
{% else if site.keywords %}
<meta name="keywords" content="{{ site.keywords | join: ', ' }}">
{% endif %}

<!-- You can set your favicon here -->
<link rel="shortcut icon" type="image/x-icon" href="{{ 'assets/favicon.ico' | relative_url }}"/>

<!-- end custom head snippets -->
