---
---

@import "{{ site.theme }}";

pre, code {
    max-width: 90%;
    box-sizing: border-box;
}

#markdown-toc {
    border: 1px solid #8b008b; /* Dark Magenta border */
    padding: 10px 15px;
    background-color: #85d4d4; /* Muted greyish cyan */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 60px; /* Space between ToC and subsequent content */
    max-width: 80%;
}

#markdown-toc li {
    list-style-image: none !important;
    list-style-type: decimal;
    color: #8b008b; /* Dark Magenta for list item numbers */
    margin-bottom: 5px; /* Spacing between list items */
    margin-left: 10px; /* Spacing from the left edge, making room for numbers */
}

#markdown-toc a {
    color: #8b008b; /* Dark Magenta for links */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold links */
}

#markdown-toc a:hover {
    color: #c71585; /* Medium Violet Red for hover state */
    text-decoration: underline; /* Underline on hover */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse; /* Merge borders */
    margin-bottom: 1em; /* Space below the table */
}

/* Table Header */
table th {
    background-color: #8b008b; /* Dark Magenta for header background */
    color: #e0ffff; /* Light Cyan for header text */
    padding: 8px 12px; /* Some padding to make it look nice */
    border: 1px solid #c71585; /* Medium Violet Red border around cells */
    text-align: left; /* Left-align text */
}

/* Table Body */
table td {
    background-color: #f7f7f7; /* A light gray for contrast */
    color: #c71585; /* Medium Violet Red for the text */
    padding: 8px 12px; /* Consistent padding with the header */
    border: 1px solid #c71585; /* Medium Violet Red border around cells */
}

/* Hover over table rows */
table tr:hover {
    background-color: #ffe5e5; /* A soft pink for row hovering */
}

/* Links inside table */
table a {
    color: #8b008b; /* Dark Magenta for links in table */
}

table a:hover {
    color: #c71585; /* Medium Violet Red for hover on links in table */
}

header {
  box-sizing: border-box;
  /*width: max-content;*/
  width: 100%;
}

body {
    background: #e0ffff; /* Light Cyan */
    color: #c71585; /* Medium Violet Red (a more readable variant of Magenta) */
    font-family: Arial, sans-serif;
}

header h1 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

header h2 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

.tag-heading {
  color: #8b008b; /* Dark Magenta, same as your other headings */
  //font-weight: bold; /* for a bold appearance like headings */
  //font-size: 1.2em; /* adjust the size if needed */
}

a {
    color: #8b008b; /* Dark Magenta */
}

a:hover {
    color: #c71585; /* Medium Violet Red */
}

header h1:before {
  content: "";
  font-size: 24px;
  color: #8b008b;
}

.btn-github {
  color: #94ffff; /* Light Cyan */
  background: #c71585; /* Medium Violet Red */
}

.btn-github .icon {
  color: #94ffff; /* Light Cyan */
  opacity: 1.0;
  background: url("../images/cyantocat.webp") 0 0 no-repeat;
}

.btn-github:hover {
  background: #8b008b; /* Dark Magenta */
}

.btn-github:disabled {
  color: #cccccc;  /* A lighter grey for the text */
  background: #a9a9a9;  /* A light grey for the background */
  cursor: not-allowed;  /* Shows a 'no-entry' sign when hovered */
}

.btn-github:disabled .icon {
  color: #cccccc; /* A lighter grey for the icon */
  opacity: 0.6;   /* Reduced opacity for the icon */
}

// demix webapp stuff

.progress-container {
  //text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #4CAF50;
}

.progress-text {
  margin-top: 10px;
}

div.demo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 1%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
}

div.mdx-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 2%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  z-index: 1;
  background: url('../images/mixer.webp') no-repeat center center/cover;
}

div.mdx-container-batch {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 2%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  z-index: 1;
  background: url('../images/mixer_batch.webp') no-repeat center center/cover;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#mdx-app a {
  color: #70DB93;
}

.output-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Adjust width as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  padding: 2%;
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  overflow: auto; /* Will add a scrollbar if the content overflows */
}


/* Base styles for the image */
img.responsive-img {
  width: 100%; /* default width for mobile devices */
}

div.image-container {
  text-align: center;
}

/* debug terminal */
/* To center the outer "checkbox" div */
#checkbox {
  text-align: center;
}

/* To ensure the hidden "devLogs" div also appears centered when visible */
#devLogs {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* To center the terminals next to each other */
#terminalContainer {
  display: flex;
  justify-content: center;
}

/* Style for terminal if you have any, just added for demonstration */
.terminal {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  text-align: left;
}

/* Hidden class for your convenience */
.hidden {
  display: none;
}

.hidden {
    display: none;
}

#terminalContainer {
    display: flex;
}

.terminal {
    background-color: black;
    color: lime;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    border: 1px solid lime;
    flex: 1;
}

#jsTerminal {
    border-right: 1px solid lime;
    color: cyan;
}

.terminal-container {
    margin-bottom: 20px;
}

/* ad sponsorships */

.wrapper {
  display: flex;
}

.banner-left {
  box-sizing: border-box;
  width: 160px;
  margin-left: 5px;
  margin-right: 5px;
}

.banner-left img {
  width: 100%;
  height: auto;
  display: block;
}

/* Adding vertical spacing between the banners */
.banner-left a {
  display: block;
  margin-bottom: 15px; /* Adjust this value as per your needs */
}

/* Removing the margin from the last banner to avoid extra space at the bottom */
.banner-left a:last-child {
  margin-bottom: 5px;
}

//.container {
//  flex: 1;  
//  padding: 20px;
//  margin-left: 5px;
//  margin-right: 5px;
//}

/* blog section */

.tag-size-5 {
    font-size: 1.25rem;
}

.tag-size-4 {
    font-size: 1.10rem;
}

.tag-size-3 {
    font-size: 0.95rem;
}

.tag-size-2 {
    font-size: 0.80rem;
}

.tag-size-1 {
    font-size: 0.65rem;
}

.post-item {
  display: none;
}

div.category-cloud {
  padding-bottom: 30px;
}

div.tag-cloud {
  padding-bottom: 30px;
}


.blog-post {
    margin-bottom: 40px;
}

.blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-post .meta {
    font-size: 0.9em;
    //color: #777;
    margin-bottom: 10px;
}

.blog-post .summary {
    font-size: 1em;
    //color: #555;
}

.giscus-spacing {
    height: 50px; /* Adjust the value to your preference */
    display: block;
}

/* social bar */
.social-share-bar {
    text-align: left; /* Center the content */
    margin-top: 20px; /* Add some space at the top */
    margin-bottom: 20px; /* Add some space at the bottom */
}

.social-share-bar .share-text {
    vertical-align: middle; /* Align middle to make sure it aligns well with the icons */
    margin-right: 10px; /* Add some spacing between the text and icons */
}

.social-share-bar a img {
    width: 24px; /* Set width for icons */
    height: 24px; /* Set height for icons */
    margin: 0 10px; /* Add some horizontal margin between icons */
    vertical-align: middle; /* Align middle to make sure it aligns well with the text */
}

.share-text {
  color: #8b008b; /* Dark Magenta, same as your other headings */
  //font-weight: bold; /* for a bold appearance like headings */
  //font-size: 1.2em; /* adjust the size if needed */
}

// spinner for loading weights

.overlay {
    position: absolute; /* Changed to absolute within the container */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9); /* semi-transparent overlay */
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 46.5%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#load-weights, #load-weights-2, #sign-up {
  position: relative; /* Needed to use z-index */
  z-index: 3; /* Higher than the overlay's z-index */
  font-size: 20px; /* Larger font size for better visibility */
  padding: 16px 24px; /* Adjust padding to maintain visual balance with larger font */
  margin-bottom: 16px; /* Extra space below the button */
  cursor: pointer; /* Cursor indicates it's clickable */
  color: #94ffff; /* White text color for better contrast */
  background-color: #c71585; /* Add a background color to make it stand out (Tomato color for example) */
  font-family: "Courier New", monospace;
  border: none; /* Remove border for a modern look */
  border-radius: 5px; /* Rounded corners */
  text-transform: uppercase; /* Uppercase text for emphasis */
  font-weight: bold; /* Bold font weight */
  //transition: background-color 0.3s; /* Smooth background color transition for hover effect */
}

#load-weights {
  background-color: #e67e22; /* Dark Orange: represents speed/efficiency */
  color: #ffffff; /* White color for text for better contrast */
  top: 20%;
}

#load-weights-2 {
  background-color: #483d8b; /* Dark Slate Blue: represents premium quality */
  color: #ffffff; /* White color for text for better contrast */
  box-shadow: 0 0 15px #483d8b; /* Glowing effect */
  animation: pulse 2s infinite;
  top: 25%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px #483d8b;
    transform: scale(1);
    background-color: #483d8b;
  }
  50% {
    box-shadow: 0 0 35px #6a5acd; /* Increase the glow size and change color */
    transform: scale(1.05); /* Slightly increase the scale for emphasis */
    background-color: #6a5acd;
  }
  100% {
    box-shadow: 0 0 15px #483d8b;
    transform: scale(1);
    background-color: #483d8b;
  }
}

/* Hover styles with higher specificity */
#load-weights-2:hover {
  animation: none; /* Stop the pulse animation on hover */
  background-color: #3c2f80; /* Darker shade for hover */
  box-shadow: 0 0 15px #3c2f80; /* Adjust shadow color to match */
  transform: translateY(-2px); /* Lift the button up slightly on hover */
}

#load-weights-2:active {
  background-color: #28a745;
  transform: translateY(1px);
  box-shadow: 0 2px #276324;
}

#load-weights:hover {
  background-color: #d35400;
  transform: translateY(-2px);
}

#load-weights:active {
  background-color: #28a745; /* A slightly lighter green for hover effect */
  transform: translateY(1px); /* Depress the button when clicked */
  box-shadow: 0 2px #276324; /* Adjust the shadow to look like it's being pressed */
}

#load-weights:disabled, #load-weights-2:disabled {
  background-color: #cccccc; /* Greyed out background for disabled state */
  color: #b7b7b7; // darker grey for the text
  cursor: not-allowed; /* 'Not allowed' cursor for disabled button */
  animation: none;
}

.centered-text {
    text-align: center;
    margin-bottom: 10px; /* Adjust this value as needed for spacing */
}

.centered-text p {
    margin-top: 5px; /* Adjust top margin */
    margin-bottom: 5px; /* Adjust bottom margin */
    /* Other styles, if needed */
}

blockquote {
    color: #8b008b; /* Dark Magenta */
    border-left: 3px solid #8b008b; /* Optional: adds a left border to your blockquote */
    margin: 10px 20px; /* Adjusts top and bottom margin */
    padding-left: 15px; /* Adds padding to the left of the blockquote */
    font-style: italic; /* Optional: italicizes the quote text */
}

.highlight {
    background-color: #e1f77e; /* Light yellow background */
    color: #333; /* Darker text color for contrast */
    padding: 2px 5px; /* Padding around the text */
    border-radius: 3px; /* Optional: rounded corners */
    font-size: 18px;
}

#sign-up {
  color: #ffffff;
  background-color: #3cb371;
  box-shadow: 0 4px #276324;
}

#sign-up {
    top: 20%;
}

#sign-up:hover {
  background-color: #369457;
  transform: translateY(-2px);
}

#sign-up:active {
  transform: translateY(1px);
  box-shadow: 0 2px #276324;
}

.button-sign-up {
  display: inline-flex; /* Use flexbox for inline layout */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align text to the left */
  justify-content: center; /* Center vertically */
  text-align: left; /* Left-align text within flex items */
  display: inline-block; /* Allows padding and width/height if needed */
  text-decoration: none; /* Removes underline from links */
}

.sign-up-text {
  font-size: 20px;
}

.sign-up-details {
  font-size: 16px;
  line-height: -1; /* Reduces the space between lines, adjust the value as needed */
}

/* This is for larger screens */
/* Media query for larger screens */

@media screen and (min-width: 768px) {
  div.demo-container {
    width: 50%; /* width for larger screens */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  img.responsive-img {
    width: 50%; /* width for larger screens */
  }
}

@media (min-width: 1200px) {
  .wrapper {
    justify-content: center;
  }

  .container {
    max-width: 52%;  /* Adjust based on your preferred content width */
  }

  .banner-left {
    flex-shrink: 0;  /* Prevents the banner from shrinking */
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .banner-left {
    width: 136px; /* 85% of 160px */
    margin-right: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .banner-left {
    width: 120px; /* 75% of 160px */
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .banner-left {
    width: 104px; /* 65% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 20px);
  }
  .terminal {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .banner-left {
    width: 88px; /* 55% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 40px);
  }
  #load-weights {
    top: 15%;
  }
  #load-weights-2 {
    top: 25%;
  }
}

@media (max-width: 400px) {
  .banner-left {
    width: 88px; /* 55% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 50px);
  }
}

@media (max-width: 350px) {
  .index-header {
      width: calc(100vw + 15px);
  }
  .post1-header {
    width: calc(100vw + 50px);
  }
  .terminal {
    width: 90px;
  }
  #load-weights {
    top: 5%;
  }
  #load-weights-2 {
    top: 10%;
  }
}
