---
---

@import "{{ site.theme }}";

body {
    background: #e0ffff; /* Light Cyan */
    color: #c71585; /* Medium Violet Red (a more readable variant of Magenta) */
    font-family: Arial, sans-serif;
}

header h1 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

a {
    color: #8b008b; /* Dark Magenta */
}

a:hover {
    color: #c71585; /* Medium Violet Red */
}

header h1:before {
  content: "";
  font-size: 24px;
  color: #8b008b;
}

.btn-github {
  color: #94ffff; /* Light Cyan */
  background: #c71585; /* Medium Violet Red */
}

.btn-github .icon {
  color: #94ffff; /* Light Cyan */
  opacity: 1.0;
  background: url("../images/cyantocat.png") 0 0 no-repeat;
}

.btn-github:hover {
  background: #8b008b; /* Dark Magenta */
}

// demix webapp stuff

.progress-container {
  //text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #4CAF50;
}

.progress-text {
  margin-top: 10px;
}

div.mdx-container {
  position: relative;
  //display: flex;
  justify-content: center;
  align-items: center;
  width: 40vw; /* Adjust width as per your requirement */
  height: 42vh; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.19), 0 0.6vw 0.6vw rgba(0, 0, 0, 0.23); /* Shadow for 3D effect */
  color: #e0ffff; /* Text color - Light Cyan */
  text-align: center;
  padding: 2vw;
 // overflow: hidden; /* This will ensure the pseudo-element won't overflow the div */
  overflow: auto; /* Will add a scrollbar if the content overflows */
  z-index: 1;
  background: url('../images/mixer.jpg') no-repeat center center/cover;
}

.bottom-right {
  position: absolute;
  bottom: 0;
  right: 0;
}

#mdx-app a:link { color: #70DB93; }
#mdx-app a:visited { color: #70DB93; }
#mdx-app a:hover { color: #70DB93; }
#mdx-app a:active { color: #70DB93; }

.output-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 30vw; /* Adjust width as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  padding: 2vw;
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
  border-radius: 10px; /* Rounded corners */
  box-shadow: 0 1vw 2vw rgba(0, 0, 0, 0.19), 0 0.6vw 0.6vw rgba(0, 0, 0, 0.23); /* Shadow for 3D effect */
  color: #e0ffff; /* Text color - Light Cyan */
  text-align: center;
  overflow: auto; /* Will add a scrollbar if the content overflows */
}
