---
---

@import "{{ site.theme }}";

pre, code {
    max-width: 90%;
    box-sizing: border-box;
}

#markdown-toc {
    border: 1px solid #8b008b; /* Dark Magenta border */
    padding: 10px 15px;
    background-color: #85d4d4; /* Muted greyish cyan */
    border-radius: 5px; /* Rounded corners */
    margin-bottom: 60px; /* Space between ToC and subsequent content */
    max-width: 80%;
}

#markdown-toc li {
    list-style-image: none !important;
    list-style-type: decimal;
    color: #8b008b; /* Dark Magenta for list item numbers */
    margin-bottom: 5px; /* Spacing between list items */
    margin-left: 10px; /* Spacing from the left edge, making room for numbers */
}

#markdown-toc a {
    color: #8b008b; /* Dark Magenta for links */
    text-decoration: none; /* No underline */
    font-weight: bold; /* Bold links */
}

#markdown-toc a:hover {
    color: #c71585; /* Medium Violet Red for hover state */
    text-decoration: underline; /* Underline on hover */
}

/* Table Styling */
table {
    width: 100%;
    border-collapse: collapse; /* Merge borders */
    margin-bottom: 1em; /* Space below the table */
}

/* Table Header */
table th {
    background-color: #8b008b; /* Dark Magenta for header background */
    color: #e0ffff; /* Light Cyan for header text */
    padding: 8px 12px; /* Some padding to make it look nice */
    border: 1px solid #c71585; /* Medium Violet Red border around cells */
    text-align: left; /* Left-align text */
}

/* Table Body */
table td {
    background-color: #f7f7f7; /* A light gray for contrast */
    color: #c71585; /* Medium Violet Red for the text */
    padding: 8px 12px; /* Consistent padding with the header */
    border: 1px solid #c71585; /* Medium Violet Red border around cells */
}

/* Hover over table rows */
table tr:hover {
    background-color: #ffe5e5; /* A soft pink for row hovering */
}

/* Links inside table */
table a {
    color: #8b008b; /* Dark Magenta for links in table */
}

table a:hover {
    color: #c71585; /* Medium Violet Red for hover on links in table */
}

header {
  box-sizing: border-box;
  /*width: max-content;*/
  width: 100%;
}

body {
    background: #e0ffff; /* Light Cyan */
    color: #c71585; /* Medium Violet Red (a more readable variant of Magenta) */
    font-family: Arial, sans-serif;
}

header h1 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

header h2 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

.tag-heading {
  color: #8b008b; /* Dark Magenta, same as your other headings */
  //font-weight: bold; /* for a bold appearance like headings */
  //font-size: 1.2em; /* adjust the size if needed */
}

a {
    color: #8b008b; /* Dark Magenta */
}

a:hover {
    color: #c71585; /* Medium Violet Red */
}

header h1:before {
  content: "";
  font-size: 24px;
  color: #8b008b;
}

.btn-github {
  color: #ceeeee; /* Changed to white for better contrast */
  background: #961996; /* Softer shade of magenta */
  //text-shadow: none; /* Removed text shadow for clarity */
  text-shadow:
    -1px -1px 0 #000,
     1px -1px 0 #000,
    -1px 1px 0 #000,
     1px 1px 0 #000;
}

.btn-github:hover {
  color: #ceeeee; /* Changed to white for better contrast */
  background: #6f006f; /* A darker shade for hover */
}

// demix webapp stuff

.progress-container {
  //text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #4CAF50;
}

.progress-text {
  margin-top: 10px;
}

div.demo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 1%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
}

div.mdx-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 2%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  z-index: 1;
  //background: navy;
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
}

.bottom-right {
  margin-left: auto;
  align-self: flex-end;
}

//#mdx-unified-app a {
//  color: #70DB93;
//}

.output-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  //width: 80%; /* Adjust width as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  padding: 2%;
  //background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
  background-color: white;
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  overflow: auto; /* Will add a scrollbar if the content overflows */
}


/* Base styles for the image */
img.responsive-img {
  width: 100%; /* default width for mobile devices */
}

div.image-container {
  text-align: center;
}

/* debug terminal */
/* To center the outer "checkbox" div */
#checkbox {
  text-align: center;
}

/* To ensure the hidden "devLogs" div also appears centered when visible */
#devLogs {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
}

/* To center the terminals next to each other */
#terminalContainer {
  display: flex;
  justify-content: center;
}

/* Style for terminal if you have any, just added for demonstration */
.terminal {
  border: 1px solid black;
  padding: 10px;
  margin: 5px;
  text-align: left;
}

.hidden {
    display: none;
}

#terminalContainer {
    display: flex;
}

.terminal {
    background-color: black;
    color: lime;
    padding: 10px;
    max-height: 300px;
    overflow-y: auto;
    white-space: pre-wrap;
    font-family: "Courier New", monospace;
    border: 1px solid lime;
    flex: 1;
}

#jsTerminal {
    border-right: 1px solid lime;
    color: cyan;
}

.terminal-container {
    margin-bottom: 20px;
}

/* ad sponsorships */

.wrapper {
  display: flex;
}

.banner-left {
  box-sizing: border-box;
  width: 160px;
  margin-left: 5px;
  margin-right: 5px;
}

.banner-left img {
  width: 100%;
  height: auto;
  display: block;
}

/* Adding vertical spacing between the banners */
.banner-left a {
  display: block;
  margin-bottom: 15px; /* Adjust this value as per your needs */
}

/* Removing the margin from the last banner to avoid extra space at the bottom */
.banner-left a:last-child {
  margin-bottom: 5px;
}

//.container {
//  flex: 1;
//  padding: 20px;
//  margin-left: 5px;
//  margin-right: 5px;
//}

/* blog section */

.tag-size-5 {
    font-size: 1.25rem;
}

.tag-size-4 {
    font-size: 1.10rem;
}

.tag-size-3 {
    font-size: 0.95rem;
}

.tag-size-2 {
    font-size: 0.80rem;
}

.tag-size-1 {
    font-size: 0.65rem;
}

.post-item {
  display: none;
}

div.category-cloud {
  padding-bottom: 30px;
}

div.tag-cloud {
  padding-bottom: 30px;
}


.blog-post {
    margin-bottom: 40px;
}

.blog-post h2 {
    font-size: 1.5em;
    margin-bottom: 10px;
}

.blog-post .meta {
    font-size: 0.9em;
    //color: #777;
    margin-bottom: 10px;
}

.blog-post .summary {
    font-size: 1em;
    //color: #555;
}

.giscus-spacing {
    height: 50px; /* Adjust the value to your preference */
    display: block;
}

/* social bar */
.social-share-bar {
    text-align: left; /* Center the content */
    margin-top: 20px; /* Add some space at the top */
    margin-bottom: 20px; /* Add some space at the bottom */
}

.social-share-bar .share-text {
    vertical-align: middle; /* Align middle to make sure it aligns well with the icons */
    margin-right: 10px; /* Add some spacing between the text and icons */
}

.social-share-bar a img {
    width: 24px; /* Set width for icons */
    height: 24px; /* Set height for icons */
    margin: 0 10px; /* Add some horizontal margin between icons */
    vertical-align: middle; /* Align middle to make sure it aligns well with the text */
}

.share-text {
  color: #8b008b; /* Dark Magenta, same as your other headings */
  //font-weight: bold; /* for a bold appearance like headings */
  //font-size: 1.2em; /* adjust the size if needed */
}

// spinner for loading weights

.overlay {
    position: absolute; /* Changed to absolute within the container */
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background-color: rgba(0,0,0,0.9); /* semi-transparent overlay */
    z-index: 2;
    cursor: pointer;
    text-align: center;
}

.loader {
    display: none;
    position: absolute;
    top: 50%;
    left: 46.5%;
    border: 5px solid #f3f3f3;
    border-radius: 50%;
    border-top: 5px solid #3498db;
    width: 50px;
    height: 50px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
}

/* Safari */
@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

#load-weights-2, #load-weights-3, #sign-up {
  position: relative; /* Needed to use z-index */
  z-index: 3; /* Higher than the overlay's z-index */
  font-size: 20px; /* Larger font size for better visibility */
  padding: 16px 24px; /* Adjust padding to maintain visual balance with larger font */
  margin-bottom: 16px; /* Extra space below the button */
  cursor: pointer; /* Cursor indicates it's clickable */
  color: #94ffff; /* White text color for better contrast */
  background-color: #c71585; /* Add a background color to make it stand out (Tomato color for example) */
  font-family: "Courier New", monospace;
  border: none; /* Remove border for a modern look */
  border-radius: 5px; /* Rounded corners */
  text-transform: uppercase; /* Uppercase text for emphasis */
  font-weight: bold; /* Bold font weight */
  //transition: background-color 0.3s; /* Smooth background color transition for hover effect */
}

#load-weights-2 {
  background-color: #483d8b; /* Dark Slate Blue: represents premium quality */
  color: #ffffff; /* White color for text for better contrast */
  box-shadow: 0 0 15px #483d8b; /* Glowing effect */
  animation: pulse 2s infinite;
  top: 20%;
}

@keyframes pulse {
  0% {
    box-shadow: 0 0 15px #483d8b;
    transform: scale(1);
    background-color: #483d8b;
  }
  50% {
    box-shadow: 0 0 35px #6a5acd; /* Increase the glow size and change color */
    transform: scale(1.05); /* Slightly increase the scale for emphasis */
    background-color: #6a5acd;
  }
  100% {
    box-shadow: 0 0 15px #483d8b;
    transform: scale(1);
    background-color: #483d8b;
  }
}

/* Hover styles with higher specificity */
#load-weights-2:hover {
  animation: none; /* Stop the pulse animation on hover */
  background-color: #3c2f80; /* Darker shade for hover */
  box-shadow: 0 0 15px #3c2f80; /* Adjust shadow color to match */
  transform: translateY(-2px); /* Lift the button up slightly on hover */
}

#load-weights-2:active {
  transform: translateY(1px);
}

#load-weights-3 {
  background-color: #c56484;
  color: #ffffff; /* White color for text for better contrast */
  position: relative; /* Positioning context for pseudo-elements */
  padding: 10px 20px; /* Adjust padding as needed */
  border: none; /* Remove default border */
  border-radius: 4px; /* Rounded corners for the button */
  top: 30%;
}

#load-weights-3:hover {
  background-color: #af5975;
  transform: translateY(-2px);
}

#load-weights-3:active {
  background-color: #28a745; /* A slightly lighter green for hover effect */
  transform: translateY(1px); /* Depress the button when clicked */
  box-shadow: 0 2px #276324; /* Adjust the shadow to look like it's being pressed */
}

#load-weights-3:disabled, #load-weights-2:disabled {
  background-color: #cccccc; /* Greyed out background for disabled state */
  color: #b7b7b7; // darker grey for the text
  cursor: not-allowed; /* 'Not allowed' cursor for disabled button */
  animation: none;
}

.centered-text {
    text-align: center;
    margin-bottom: 10px; /* Adjust this value as needed for spacing */
}

.centered-text p {
    margin-top: 5px; /* Adjust top margin */
    margin-bottom: 5px; /* Adjust bottom margin */
    /* Other styles, if needed */
}

blockquote {
    color: #8b008b; /* Dark Magenta */
    border-left: 3px solid #8b008b; /* Optional: adds a left border to your blockquote */
    margin: 10px 20px; /* Adjusts top and bottom margin */
    padding-left: 15px; /* Adds padding to the left of the blockquote */
    font-style: italic; /* Optional: italicizes the quote text */
}

.blog-highlight {
    background-color: #e1f77e; /* Light yellow background */
    color: #333; /* Darker text color for contrast */
    padding: 2px 5px; /* Padding around the text */
    border-radius: 3px; /* Optional: rounded corners */
    font-size: 18px;
}

#sign-up {
  color: black;
  background-color: #3cb371;
  box-shadow: 0 4px #276324;
}

#sign-up {
    top: 40%;
}

#sign-up:hover {
  background-color: #369457;
  transform: translateY(-2px);
}

#sign-up:active {
  transform: translateY(1px);
  box-shadow: 0 2px #276324;
}

.button-sign-up {
  display: inline-flex; /* Use flexbox for inline layout */
  flex-direction: column; /* Stack children vertically */
  align-items: flex-start; /* Align text to the left */
  justify-content: center; /* Center vertically */
  text-align: left; /* Left-align text within flex items */
  display: inline-block; /* Allows padding and width/height if needed */
  text-decoration: none; /* Removes underline from links */
}

.sign-up-text {
  font-size: 20px;
  color: black;
}

.sign-up-details {
  color: black;
  font-size: 16px;
  line-height: -1; /* Reduces the space between lines, adjust the value as needed */
}

/* This is for larger screens */
/* Media query for larger screens */

@media screen and (min-width: 768px) {
  div.demo-container {
    width: 50%; /* width for larger screens */
  }
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  img.responsive-img {
    width: 50%; /* width for larger screens */
  }
}

@media (min-width: 1200px) {
  .wrapper {
    justify-content: center;
  }

  .container {
    max-width: 52%;  /* Adjust based on your preferred content width */
  }

  .banner-left {
    flex-shrink: 0;  /* Prevents the banner from shrinking */
  }
}

@media (min-width: 1025px) and (max-width: 1500px) {
  .banner-left {
    width: 136px; /* 85% of 160px */
    margin-right: 10px;
  }
}

@media (min-width: 769px) and (max-width: 1024px) {
  .banner-left {
    width: 120px; /* 75% of 160px */
    margin-right: 10px;
  }
}

@media (max-width: 768px) {
  .banner-left {
    width: 104px; /* 65% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 20px);
  }
  .terminal {
    width: 100px;
  }
}

@media (max-width: 500px) {
  .banner-left {
    width: 88px; /* 55% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 40px);
  }
  #load-weights-2 {
    top: 15%;
  }
  #load-weights-3 {
    top: 25%;
  }
  #sign-up {
    top: 35%;
  }
}

@media (max-width: 400px) {
  .banner-left {
    width: 88px; /* 55% of 160px */
    margin-right: 10px;
  }
  .post1-header {
    width: calc(100vw + 50px);
  }
}

@media (max-width: 350px) {
  .index-header {
      width: calc(100vw + 15px);
  }
  .post1-header {
    width: calc(100vw + 50px);
  }
  .terminal {
    width: 90px;
  }
  #load-weights-2 {
    top: 5%;
  }
  #load-weights-3 {
    top: 10%;
  }
  #sign-up {
    top: 15%;
  }
}

.upload-section {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.radio-container {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.memory-selection {
    display: flex;
    align-items: center;
    margin-top: 20px; /* Adds spacing above */
    margin-bottom: 20px; /* Adds spacing below */
}

.memory-selection label {
    margin-right: 10px;
}

.memory-selection select {
    margin-right: 10px;
}

.sticky-banner {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: linear-gradient(
    to right,
    rgba(255, 165, 0, 0.7), /* Softened orange */
    rgba(255, 140, 0, 0.8) 50%,
    rgba(255, 165, 0, 0.7)
  );
  background-size: 56.57px 56.57px; /* Adjust size to control stripe width */
  color: black; /* For text */
  z-index: 5; /* Higher than other content */
}

.banner-content {
    display: flex;
    //justify-content: space-between;
    align-items: center;
    padding: 5px;
    max-width: 1000px; /* Adjust as needed */
    margin: 0 auto; /* Center content if banner is not full width */
    justify-content: center;
    padding: 5px; /* Reduced padding */
}

.banner-content > * {
    margin: 0 10px; /* Adjust space between elements */
}

/* Additional styling for your image, text, and buttons */
.banner-button-signup {
  text-align: left; /* Left-align text within flex items */
  display: block; /* Allows padding and width/height if needed */
  text-align: center;
  text-decoration: none; /* Removes underline from links */
  font-size: 18px;
  padding: 6px 16px;
  border-radius: 5px;
  background-color: #961996; /* Replace with your chosen brand color */
  color: #ffffff; /* White text for better contrast */
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer; /* Cursor indicates it's clickable */
}

.banner-button-signup:hover {
  background-color: #a800a8; /* A slightly lighter shade for hover */
  color: #ffffff; /* Optional: Change text color to increase contrast */
  transform: translateY(-2px);
  box-shadow: 2px 4px #650065; /* Slightly darker shade for depth */
}

.banner-button-signup:active {
  background-color: #7d007d; /* An even darker shade for active state */
  transform: translateY(1px);
  box-shadow: 0 2px #520052; /* Shadow for a "pressed" effect */
}

.banner-dismiss-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: #ceeeee; /* A softer color from your palette */
  color: #000000; /* White text for contrast */
  padding: 6px 16px;
  border-radius: 5px;
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.banner-dismiss-button:hover {
  background-color: #e0ffff; /* A slightly darker shade for hover, close to #ceeeee */
  transform: translateY(-1px);
  box-shadow: 2px 2px #a4bebe; /* A softer shadow for depth */
}

.banner-dismiss-button:active {
  background-color: #afcfcf; /* A shade darker than hover color for active state */
  transform: translateY(1px);
  box-shadow: 0 1px #9fbfbf; /* Shadow for a "pressed" effect */
}

.banner-dismiss-button .close-text {
  display: inline; /* Inline with the icon */
}
/* Adding an 'X' icon to the close button using pseudo-elements */
.banner-dismiss-button::before {
  content: "\00D7"; /* Unicode 'X' character */
  font-size: 1.2em; /* Slightly larger size for the icon */
  color: #ff0000; /* Red color for the icon to signify 'close' */
  margin-right: 5px; /* Spacing between icon and text */
}

.btn-gold-github {
  color: #000000; /* Changed to black for better contrast */
  background: #fdd835; /* A bright yellow instead of gold */
  animation: goldpulse 2s infinite;
  box-shadow: none; /* Optional: remove shadow for a flatter appearance */
  text-shadow: none; /* Optional: remove shadow for a flatter appearance */
}

.btn-gold-github:hover {
  background: #fbc02d; /* A slightly darker shade for hover */
  color: black;
  animation: none;
}

@keyframes goldpulse {
  0% {
    box-shadow: 0 0 5px #d1b000;
    transform: scale(1);
    background-color: #fbc02d;
  }
  50% {
    box-shadow: 0 0 15px #d1b000; /* Increase the glow size and change color */
    transform: scale(1.05); /* Slightly increase the scale for emphasis */
    background-color: #fbc02d;
  }
  100% {
    box-shadow: 0 0 5px #d1b000;
    transform: scale(1);
    background-color: #fbc02d;
  }
}

input[type="file"]:disabled, label:disabled {
    opacity: 0.5; /* Lower opacity for a "disabled" look */
    cursor: not-allowed; /* Change cursor to indicate non-interactive */
}

.btn-github, .btn-gold-github {
  font-size: 15px;
}

.styled-link {
    display: inline-block;
    height: 50px; /* Match the height of your images */
    border: 1.5px solid #636363; /* Add a border for a button-like appearance */
    color: #3b3b3b; /* Choose the color of the text */
    // add left text border
    padding: 12px 5px; /* Add padding to the left and right */
    font-weight: bold; /* Make the text bold */
    text-align: center; /* Center the text horizontally */
    text-decoration: none; /* Remove the underline from the link */
    box-sizing: border-box; /* Include padding and border in the width */
    //vertical-align: middle; /* Align inline-block elements vertically */
    vertical-align: top; /* Align inline-block elements vertically */
}

.styled-link:hover {
    text-decoration: none; /* Ensure the underline doesn't appear on hover */
}

.popup-banner-hidden {
    display: none;
}

.popup-banner-shown {
    display: flex;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: auto; /* adjust width as necessary */
    max-width: 500px; /* max-width for responsiveness */
    background: #ffffff;
    color: black;
    font-size: 24px;
    padding: 20px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    z-index: 1001;
    flex-direction: column;
    align-items: center;
    border-radius: 10px;
    // center justify text
    text-align: center;
}

.popup-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.75);
    z-index: 1000;
    display: none;
}

.popup-overlay-shown {
    display: block;
}

.popup-close-button {
    background: none;
    border: none;
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 24px;
}

.pro-cta {
    font-size: larger; /* or you could use a specific font size like 1.5em */
    margin-bottom: 5px;
}

.pro-promo {
    margin-top: 5px;
    color: green;
    font-weight: bold; /* Bold links */
}

.pro-signup-cta {
    font-size: large; /* or the specific size you want */
}

/* Styles for smaller screens */
@media (max-width: 320px) { /* iPhone SE width */
  #popup-banner {
    width: 90%; /* Reduce width to 90% of the screen size */
    /* Adjust the font size for all child paragraphs */
    .pro-cta {
      font-size: 18px;
    }
    .pro-promo {
      font-size: 14px;
    }
    .pro-signup-cta {
      font-size: 12px;
    }
    /* Adjust the height of the image for smaller screens */
    img {
      height: 128px; /* Adjust the image height */
    }
  }
}

@media (max-width: 568px) { /* Larger phones */
  #popup-banner {
    width: 80%; /* Slightly larger width than for the smallest screens */
    /* Other styles as necessary */
  }
}
