---
---

@import "{{ site.theme }}";

body {
    background: #e0ffff; /* Light Cyan */
    color: #c71585; /* Medium Violet Red (a more readable variant of Magenta) */
    font-family: Arial, sans-serif;
}

header h1 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

header h2 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

h1, h2, h3, h4, h5, h6 {
    color: #8b008b; /* Dark Magenta, to give headings a bit more contrast */
}

a {
    color: #8b008b; /* Dark Magenta */
}

a:hover {
    color: #c71585; /* Medium Violet Red */
}

header h1:before {
  content: "";
  font-size: 24px;
  color: #8b008b;
}

.btn-github {
  color: #94ffff; /* Light Cyan */
  background: #c71585; /* Medium Violet Red */
}

.btn-github .icon {
  color: #94ffff; /* Light Cyan */
  opacity: 1.0;
  background: url("../images/cyantocat.png") 0 0 no-repeat;
}

.btn-github:hover {
  background: #8b008b; /* Dark Magenta */
}

// demix webapp stuff

.progress-container {
  //text-align: center;
  margin-bottom: 20px;
}

.progress-bar {
  width: 100%;
  height: 20px;
  border: 1px solid #ccc;
  border-radius: 5px;
  overflow: hidden;
}

.progress-bar-inner {
  height: 100%;
  background-color: #4CAF50;
}

.progress-text {
  margin-top: 10px;
}

div.demo-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 1%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
}


/* Media query for larger screens */
@media screen and (min-width: 768px) {
  div.demo-container {
    width: 50%; /* width for larger screens */
  }
}

div.mdx-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 80%; /* Adjust width as per your requirement */
  height: auto; /* Adjust height as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  padding: 2%;
  overflow: auto; /* Will add a scrollbar if the content overflows */
  z-index: 1;
  background: url('../images/mixer.jpg') no-repeat center center/cover;
}

.bottom-right {
  position: absolute;
  bottom: 5%;
  right: 5%;
}

#mdx-app a {
  color: #70DB93;
}

.output-link-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 80%; /* Adjust width as per your requirement */
  margin: 2vh auto; /* Auto horizontal margins for centering and 2vh vertical margin */
  padding: 2%;
  background-color: rgba(0, 64, 128, 1.0); /* Light cyan background color with 50% opacity */
  border-radius: 10px; /* Rounded corners */
  color: #e0ffff; /* Text color - Light Cyan */
  overflow: auto; /* Will add a scrollbar if the content overflows */
}


/* Base styles for the image */
img.responsive-img {
  width: 100%; /* default width for mobile devices */
}

div.image-container {
  text-align: center;
}

/* Media query for larger screens */
@media screen and (min-width: 768px) {
  img.responsive-img {
    width: 50%; /* width for larger screens */
  }
}
