<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% include head-custom.html %}

    {% seo %}
  </head>

<div id="popup-overlay" class="popup-overlay"></div>
<div id="popup-banner" class="popup-banner-hidden">
    <button class="popup-close-button" id="close-popup">✖</button>
    <h3 class="popup-title">Huge Savings!</h3>
    <p>📣 Save $70 (or 60%) by choosing the yearly membership! 📢</p>
    <p>💵 💵 💰 💰 💰 💵 💵</p>
    <p>Pay <s>$120 CAD</s> <b>just $49.99 CAD</b> for yearly access!</p>
</div>

<script src="/banner.js"></script>
<div id="sticky-banner" class="sticky-banner" style="display: none;">
    <div class="banner-content">
      <img src="/assets/images/logo_whitebg.webp" alt="freemusicdemixer-logo" height="65px"/>
        <a href="http://eepurl.com/iMVAUA" class="banner-button-signup" target="_blank">Sign up to the mailing list!</a>
        <div class="banner-dismiss-button" id="banner-dismiss-button">
          <span class="close-text">Close</span>
        </div>
    </div>
</div>

  <body>
    <header class="{{ page.header_class }}-header">
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.human_description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          <a href="{{ '/' | relative_url }}" class="btn btn-github">Home</a>
          <a href="{{ '/about' | relative_url }}" class="btn btn-github">About</a>
          <a href="{{ '/android' | relative_url }}" class="btn btn-android-github">Android</a>
          <a href="{{ '/blog' | relative_url }}" class="btn btn-github">Blog</a>
          <a href="{{ '/support' | relative_url }}" class="btn btn-github">Support</a>
          <a href="{{ '/karaoke' | relative_url }}" class="btn btn-karaoke-github">KARAOKE</a>
        </section>
      </div>
      <div class="container" style="display: flex; align-items: center; justify-content: flex-start; gap: 0px;">
        <h2 style="margin: 0;">Follow our socials!</h2>
        <div style="display: flex; gap: 15px; margin-left: 15px;">
          <a href="https://www.instagram.com/musicdemixer" target="_blank"><i class="fab fa-instagram" style="font-size: 24px;"></i></a>
          <a href="https://www.tiktok.com/@musicdemixer" target="_blank"><i class="fab fa-tiktok" style="font-size: 24px;"></i></a>
          <a href="https://x.com/musicdemixer" target="_blank"><i class="fab fa-x-twitter" style="font-size: 24px;"></i></a>
          <a href="https://www.youtube.com/@musicdemixer" target="_blank"><i class="fab fa-youtube" style="font-size: 24px;"></i></a>
          <a href="https://www.reddit.com/user/musicdemixer" target="_blank"><i class="fab fa-reddit" style="font-size: 24px;"></i></a>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <div class="banner-left">
        <p>Our sponsors</p>
        <a href="https://www.youtube.com/@TheCrescent/videos">
          <img src="/assets/sponsors/left_banner_crescent.webp" alt="Left sponsor banner" width="160px">
        </a>
        <a href="https://pyrae.com/?utm_source=fmd">
            <img src="//pyrae.com/img/ext/banner-fmd.png" alt="Pyrae Sponsor Banner" width="160px" height="600px"/>
        </a>
        <a href="https://open.spotify.com/artist/7IYLENV1pGGPvL6wkyl7t5">
          <img src="/assets/sponsors/right_banner_onair.webp" alt="Right sponsor banner" width="160px" height="600px">
        </a>
      </div>

      <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>
    <script src="https://komito.net/komito.js" async></script>
    <script>
    // The default configuration can be omitted and only changed properties can be included.
    var _komito = _komito || {
      'trackTwitter': 1,     // Tracks Twitter events if widget is presented on page.
      'trackFacebook': 1,    // Tracks Facebook events if widget is presented on page.
      'trackLinkedIn': 1,    // Tracks LinkedIn events if plugin is presented on page.
      'trackDownloads': 1,   // Tracks files download links.
      'trackOutbound': 1,    // Tracks outbound links.
      'trackForms': 1,       // Tracks forms submissions.
      'trackUsers': 1,       // Tracks pageviews by users logged in to social networks.
      'trackActions': 1,     // Tracks 'mailto', 'tel', 'sms' and 'skype' actions.
      'trackPrint': 1,       // Tracks page print actions.
      'trackOrientation': 1, // Tracks orientation change on mobile devices.
      'trackColorScheme': 1, // Tracks user preferred color scheme.
      'trackAdblock': 0,     // Tracks page views with blocked ads. (Experimental)
      'trackErrorPages': 0,  // Tracks error pages. (Experimental)
      'sendHeartbeat': 0,    // Sends heartbeat event. (Default interval 30 seconds)
      'debugMode': 0,        // Prints all requests to console.
      'trackScroll': [25, 50, 75, 100], // Tracks scroll depth.
      'trackMedia': ['html5', 'vimeo', 'youtube'], // Tracks HTML5 video, audio, Vimeo and YouTube players events.
      'nonInteraction': ['adblock', 'audio', 'color-scheme', 'form', 'heartbeat', 
                         'orientation', 'print', 'scroll', 'video'] // List of non interaction events.
    };
    </script>
  </body>
</html>
