<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
<head>
  <title>{% if page.title %}{{ page.title }} - Music Demixer{% else %}Music Demixer: Powered by AI{% endif %}</title>
  <meta charset='utf-8'>
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <!-- Include the site styles and FontAwesome -->
  <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">

  <!-- Custom Head Section -->
  {% include head-custom.html %}

  <!-- SEO Plugin -->
  {% seo %}
</head>

<!--
<div id="popup-overlay" class="popup-overlay"></div>
<div id="popup-banner" class="popup-banner-hidden">
    <button class="popup-close-button" id="close-popup">✖</button>
    <h3 class="popup-title">Huge Savings!</h3>
    <p>📣 Black Friday Christmas New Years deal!! 📢</p>
    <p>💰 🎄 🎅</p>
    <p>
      Save <span id="discount-text">50%</span> with code <span id="discount-text">XMAS24</span>!
      <br>
      <br>
      <s>$9.99 CAD</s> $4.99 CAD per month
      <br>
      <s>$49.99 CAD</s> $24.99 CAD per year
      <br>
      <br>
      <a href="/pricing/#subscribe-today">Sign up now!</a>
    </p>
</div>
-->

<body>
  <header>
    <nav class="navbar">
      <div class="navbar-contents">
        <div class="navbar-logo">
          <a href="/"><img src="/assets/images/logo.webp" alt="Music Demixer Logo"></a>
          <button id="theme-toggle" aria-label="Switch to dark mode">
              <i id="theme-icon" class="fa fa-moon"></i>
          </button>
        </div>
        <ul class="navbar-links">
          <!--<li id="new-link"><a href="/products">Products</a></li>-->
          <li><a href="/">Home</a></li>
          <li><a href="/faqs">FAQs</a></li>
          <li><a href="/about">About</a></li>
          <li><a href="/pricing">Pricing</a></li>
          <li><a href="/support">Support</a></li>
          <li><a href="/blog">Blog</a></li>
        </ul>

        <!-- Login/Sign up buttons -->
        <div class="navbar-login-signup">
          <div id="active-user-buttons" style="display: none;">
            <button id="manage-account"> Welcome, user! ▼</button>
          </div>
          <div id="inactive-user-buttons">
            <a id="signup-btn" href="/pricing/#subscribe-today">Sign up!</a>
            <button id="login-btn">Login</button>
          </div>
        </div>

        <!-- Hamburger Menu -->
        <div class="hamburger-menu" id="hamburger-menu">
          <i class="fa fa-bars"></i>
        </div>
      </div> <!-- Correct closing tag for .navbar-contents -->
    </nav>
  </header>

  <!-- Modal for login (placed outside of header for better structure) -->
  <div id="login-modal" class="modal">
    <div class="modal-content">
      <span class="close" id="login-close">&times;</span>
      <form id="activation-form">
        <h3>New customer?</h3>
        <a href="/pricing/#subscribe-today">Sign up for a PRO subscription today!</a>
        <br>
        <h3>Existing customer?</h3>
        <label for="billing-email">Enter your billing email to log in and activate your PRO content:</label>
        <input type="email" id="billing-email" name="billing-email" required>
        <button type="submit">Login</button>
      </form>
      <!-- Overlay and Spinner -->
      <div id="login-overlay" class="overlay" style="display: none;">
          <h3 style="color: #ffffff; margin-top: 20px;">Activating your content...</h3>
          <div class="loader" id="login-spinner"></div>
      </div>
      <div id="response-message"></div>
      <div class="bottom-right" id="logo-display">
        <small>Free tier
        <img src="/assets/images/logo_free.webp" alt="freemusicdemixer-free-logo" height="30px" style="background-color:white;"/></small>
      </div>
      <br>
      <div>
        <h3>Dark and light mode</h3>
        <button id="theme-reset" aria-label="reset-theme">Use system theme</button>
      </div>
      <div id="toast" class="hidden"></div>
    </div>
  </div>

  <!-- Modal for active users -->
  <div id="active-user-modal" class="modal">
    <div class="modal-content">
      <h3>Welcome PRO user!</h3>
      <br>
      <div id="active-user-message"></div>
      <br>
      <a href="https://billing.stripe.com/p/login/eVacPX8pKexG5tm8ww" target=_blank>Click here</a> to manage your subscription
      <br>
      <br>
      <a href="#" id="logout-link">Click here</a> to log out and clear email
      <br>
      <br>
      <a href="mailto:help@freemusicdemixer.com">Click here</a> to contact support or send an email to <b>help@freemusicdemixer.com</b>
      <br>
      <span class="close" id="active-user-close">&times;</span>
      <br>
      <div>
        <h3>Dark and light mode</h3>
        <button id="theme-reset-2" aria-label="reset-theme">Use system theme</button>
      </div>
    </div>
  </div>

<div class="main-container">
  <section class="title-section">
    <a href="/" class="title-link">
    <h1>music demixer</h1>
    </a>
    <h2>powered by AI</h2>
    <h4>Vocal remover and extractor. Music separator and stem splitter. Instrumental breakdowns. Music transcription and MIDI. Private and offline. We got you covered.</h4>
  </section>

  <div class="container">
    <section id="main-content">
      {{ content }}
    </section>
  </div>
</div>

  <!-- Footer Section -->
  <footer>
    <div class="footer-container">
      <!-- Left Column: Contact and Social Media -->
      <div class="footer-left">
        <div class="contact">
          <p>Contact</p>
          <p class="small-text"><a href="mailto:contact@freemusicdemixer.com"><i class="fa-solid fa-envelope"></i> E-mail</a></p>
          <a href="https://www.instagram.com/musicdemixer" target="_blank">
            <i class="fab fa-instagram"></i>
          </a>
          <a href="https://www.tiktok.com/@musicdemixer" target="_blank">
            <i class="fab fa-tiktok"></i>
          </a>
          <a href="https://x.com/musicdemixer" target="_blank">
            <i class="fab fa-x-twitter"></i>
          </a>
          <a href="https://www.youtube.com/@musicdemixer" target="_blank">
            <i class="fab fa-youtube"></i>
          </a>
          <a href="https://www.reddit.com/user/musicdemixer" target="_blank">
            <i class="fab fa-reddit"></i>
          </a>
          <a href="https://github.com/sevagh/freemusicdemixer.com" target="_blank">
            <i class="fab fa-github"></i>
          </a>
        </div>
        <br>
        <!-- Newsletter Signup -->
        <div id="mc_embed_shell">
          <div id="mc_embed_signup">
            <form action="https://freemusicdemixer.us18.list-manage.com/subscribe/post?u=9815b9d9625cb30e462daaab5&amp;id=faa0d3caca&amp;f_id=00c4c6e0f0" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank">
              <div id="mc_embed_signup_scroll">
                <p>Newsletter</p>
                <div class="mc-field-group">
                  <label for="mce-EMAIL">Email Address <span class="asterisk">*</span></label>
                  <input type="email" name="EMAIL" class="required email" id="mce-EMAIL" required="" value="">
                </div>
                <div style="position: absolute; left: -5000px;" aria-hidden="true">
                  /* real people should not fill this in and expect good things - do not remove this or risk form bot signups */
                  <input type="text" name="b_9815b9d9625cb30e462daaab5_faa0d3caca" tabindex="-1" value="">
                </div>
                <div class="optionalParent">
                  <div class="clear foot">
                    <input type="submit" name="subscribe" id="mc-embedded-subscribe" class="button" value="Subscribe">
                  </div>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>

      <!-- Middle Column: Products -->
      <div class="footer-middle">
        <p>Products</p>
        <nav>
          <a href="/">Web</a>
          <a href="/stem-separation">Stem Separation</a>
          <a href="/midi">MIDI</a>
          <a href="/sheet-music">Sheet Music</a>
          <a href="/android">Android</a>
          <a href="/ios">iOS</a>
        </nav>
      </div>

      <!-- Right Column: Company and Navigation Links -->
      <div class="footer-right">
        <p>Company</p>
        <nav>
          <a href="/">Home</a>
          <a href="/faqs">FAQs</a>
          <a href="/about">About</a>
          <a href="/pricing">Pricing</a>
          <a href="/support">Support</a>
          <a href="/blog">Blog</a>
        </nav>
      </div>
    </div>
    <p class="footer-bottom">© 2025 Music Demixer. A product of Technologies Tonal Mesh Inc. All Rights Reserved.</p>
  </footer>
<script src="{{ '/main.js' | relative_url }}"></script>
</body>
</html>
