<!DOCTYPE html>
<html lang="{{ site.lang | default: "en-US" }}">
  <head>
    <meta charset='utf-8'>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="{{ '/assets/css/style.css?v=' | append: site.github.build_revision | relative_url }}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    {% include head-custom.html %}

    {% seo %}
  </head>

<div id="popup-overlay" class="popup-overlay"></div>
<div id="popup-banner" class="popup-banner-hidden">
    <button class="popup-close-button" id="close-popup">✖</button>
    <h3 class="popup-title">Love this site?</h3>
    <p>Write a review or user testimonial and send it to: <a href="mailto:reviews@freemusicdemixer.com" alt="review-email">reviews@freemusicdemixer.com</a> or write a review for the Android app <a href="https://play.google.com/store/apps/details?id=com.freemusicdemixer.pro" alt="play-store-review">in the Play Store!</a></p>
    <div class="stars">
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
        <span class="star">&#9733;</span>
    </div>
    <p>If you showcase your project on <a href="https://freemusicdemixer.com/blog" alt="blog-link">our blog</a>, you can get 1 month of free PRO subscription!</p>
    <br>
    <p class="pro-signup-cta"><a href="http://eepurl.com/iMVAUA" target="_blank">Sign up to the mailing list</a> for promo codes, special offers, and more!</p>
</div>

<script src="/banner.js"></script>
<div id="sticky-banner" class="sticky-banner" style="display: none;">
    <div class="banner-content">
      <img src="/assets/images/logo_whitebg.webp" alt="freemusicdemixer-logo" height="65px"/>
        <a href="http://eepurl.com/iMVAUA" class="banner-button-signup" target="_blank">Sign up to the mailing list!</a>
        <div class="banner-dismiss-button" id="banner-dismiss-button">
          <span class="close-text">Close</span>
        </div>
    </div>
</div>

  <body>
    <header class="{{ page.header_class }}-header">
      <div class="container">
        <a id="a-title" href="{{ '/' | relative_url }}">
          <h1>{{ site.title | default: site.github.repository_name }}</h1>
        </a>
        <h2>{{ site.human_description | default: site.github.project_tagline }}</h2>
        <section id="downloads">
          <a href="{{ '/' | relative_url }}" class="btn btn-github">Home</a>
          <a href="{{ '/about' | relative_url }}" class="btn btn-github">About</a>
          <a href="{{ '/blog' | relative_url }}" class="btn btn-github">Blog</a>
          <a href="{{ '/support' | relative_url }}" class="btn btn-github">Support</a>
          <a href="{{ '/karaoke' | relative_url }}" class="btn btn-karaoke-github">KARAOKE</a>
        </section>
      </div>
      <div class="container" style="display: flex; align-items: center; justify-content: flex-start; gap: 0px;">
        <h2 style="margin: 0;">Follow our socials!</h2>
        <div style="display: flex; gap: 15px; margin-left: 15px;">
          <a href="https://www.instagram.com/musicdemixer" target="_blank"><i class="fab fa-instagram" style="font-size: 24px;"></i></a>
          <a href="https://www.tiktok.com/@musicdemixer" target="_blank"><i class="fab fa-tiktok" style="font-size: 24px;"></i></a>
          <a href="https://x.com/musicdemixer" target="_blank"><i class="fab fa-x-twitter" style="font-size: 24px;"></i></a>
          <a href="https://www.youtube.com/@musicdemixer" target="_blank"><i class="fab fa-youtube" style="font-size: 24px;"></i></a>
          <a href="https://www.reddit.com/user/musicdemixer" target="_blank"><i class="fab fa-reddit" style="font-size: 24px;"></i></a>
        </div>
      </div>
    </header>

    <div class="wrapper">
      <div class="banner-left">
        <p>Our sponsors</p>
        <a href="https://www.youtube.com/@TheCrescent/videos">
          <img src="/assets/sponsors/left_banner_crescent.webp" alt="Left sponsor banner" width="160px">
        </a>
        <a href="https://pyrae.com/?utm_source=fmd">
            <img src="//pyrae.com/img/ext/banner-fmd.png" alt="Pyrae Sponsor Banner" width="160px" height="600px"/>
        </a>
        <a href="https://open.spotify.com/artist/7IYLENV1pGGPvL6wkyl7t5">
          <img src="/assets/sponsors/right_banner_onair.webp" alt="Right sponsor banner" width="160px" height="600px">
        </a>
      </div>

      <div class="container">
        <section id="main_content">
          {{ content }}
        </section>
      </div>
    </div>
  </body>
</html>
