---
layout: default
---

<a href="/blog" style="text-decoration: none; display: block; margin-bottom: 10px;">← Blog</a>

<h1 style="margin-top: 0; margin-bottom: 10px;">{{ page.title }}</h1>

<h4 style="margin-top: 0; margin-bottom: 5px;">
    Posted by {{ page.author | default: site.author }} on {{ page.date | date: "%-d %B %Y" }}
</h4>

<h4 style="margin-top: 0; margin-bottom: 5px;">
    Category: <a href="/blog?category={{ page.category }}">{{ page.category }}</a>
</h4>

<div class="giscus-spacing"></div> <!-- Spacer div -->

{{ content }}

<div class="giscus-spacing"></div>

<div class="social-share-bar">
  <span class="share-text">Share this post!</span>
  <a href="#" id="share-twitter" target="_blank" rel="noopener noreferrer">
    <img id="twitter-img" src="/assets/social/x-twitter.svg" alt="Share on Twitter">
  </a>
  <a href="#" id="share-reddit" target="_blank" rel="noopener noreferrer">
    <img id="reddit-img" src="/assets/social/reddit.svg" alt="Share on Reddit">
  </a>
  <a href="#" id="share-hackernews" target="_blank" rel="noopener noreferrer">
    <img id="yc-img" src="/assets/social/y-combinator.svg" alt="Share on HackerNews">
  </a>
  <a href="#" id="share-facebook" target="_blank" rel="noopener noreferrer">
    <img id="fb-img" src="/assets/social/facebook.svg" alt="Share on Facebook">
  </a>
</div>

<script>
  const currentUrl = encodeURIComponent(window.location.href);
  const title = encodeURIComponent(document.title);

  document.getElementById('share-twitter').href = `https://twitter.com/intent/tweet?text=${title}&url=${currentUrl}`;
  document.getElementById('share-reddit').href = `https://reddit.com/submit?url=${currentUrl}&title=${title}`;
  document.getElementById('share-hackernews').href = `https://news.ycombinator.com/submitlink?u=${currentUrl}&t=${title}`;
  document.getElementById('share-facebook').href = `https://www.facebook.com/sharer/sharer.php?u=${currentUrl}`;
</script>

<div id="giscus-script">
  <!-- leave empty for now, will dynamically import script appropriately -->
</div>

<script>
  // Detect theme preference from localStorage or system
  function getTheme() {
    const savedTheme = localStorage.getItem('theme');
    if (savedTheme) {
        return savedTheme;
    } else {
        return window.matchMedia('(prefers-color-scheme: dark)').matches ? 'dark' : 'light';
    }
  }

  const giscusScriptDiv = document.getElementById('giscus-script');
  function importGiscusWithTheme(theme) {
    // Create a new script element
    const script = document.createElement('script');
    script.src = "https://giscus.app/client.js";
    script.setAttribute('data-repo', "sevagh/free-music-demixer");
    script.setAttribute('data-repo-id', "R_kgDOJ6arlA");
    script.setAttribute('data-category', "Announcements");
    script.setAttribute('data-category-id', "DIC_kwDOJ6arlM4CZiTv");
    script.setAttribute('data-mapping', "pathname");
    script.setAttribute('data-strict', "0");
    script.setAttribute('data-reactions-enabled', "1");
    script.setAttribute('data-emit-metadata', "0");
    script.setAttribute('data-input-position', "top");
    script.setAttribute('data-theme', theme);
    script.setAttribute('data-lang', "en");
    script.setAttribute('crossorigin', "anonymous");
    script.async = true;

    // Append the script to the giscusScriptDiv
    giscusScriptDiv.appendChild(script);
  }

  // Apply initial theme once the window has fully loaded
  const theme = getTheme();
  console.log('Importing giscus with:', theme);
  importGiscusWithTheme(theme);
</script>
